#projects {
    // background-color: #f7f7f7;
    .sectionContent {
        justify-content: center;
    }
    .carousel {
        width: 90%;
        .carousel-item {
            height: 60vh;
            position: relative;
            img {
                position: absolute;
                top: 10%;
                left: 50%;
                transform: translateX(-50%);
                width: 60%;
            }
        }
    }
}