#detail {
    text-align: center;
    min-height: 100vh;
    h2 {
        margin-top: 3em;
        padding: 1.5em 0;
        font-weight: bolder;
    }
    img {
        width: 60%;
    }
    h3 {
        margin-top: 3em;
        margin-bottom: 1.5em;
    }
    ul {
        margin-left: 0;
    }
}

#upBtn {
    position: fixed;
    bottom: 2em;
    right: 3em;
    background-color: #fff;
    color: #222;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    line-height: 2.5em;
    box-shadow: 2px 3px 5px #999;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
        transform: translateY(-10%);
        background-color: darken($color: #fff, $amount: 5%);
    }
}

#projectDesc {
    width: 40%;
    margin: 0 auto;
}

.desc {
    p {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 2em;
        text-align: left;
    }
    img {
        margin-bottom: 3em;
    }
}