#about {
    background-color: #f7f7f7;
    .sectionContent {
        font-size: 1.3em;
        position: relative;
        > div {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            padding: 10%;
        }
    }
    #links {
        margin: 1em 0;
        width: 30%;
        display: flex;
        justify-content: space-between;
        svg {
            width: 1.5em;
            height: 1.5em;
            &:hover {
                fill: skyblue;
            }
        }
    }
    #email {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}