#about {
    // background-color: #f7f7f7;
    .sectionContent {
        font-size: 1.3em;
        position: relative;
        // > div {
        //     padding: 10%;
        // }
    }
    #emoji {
        width: 25%;
        position: absolute;
        top: 50%;
        right: 2em;
        transform: translateY(10%);
        img {
            width: 100%;
        }
    }
    #intro {
        padding: 10%;
    }
    #email {
        margin-top: 1em;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #links {
        margin: 1em 0;
        width: 30%;
        display: flex;
        justify-content: space-between;
        svg {
            width: 1.5em;
            height: 1.5em;
            &:hover {
                fill: skyblue;
            }
        }
    }
}